body {
  font-family: 'Open Sans', sans-serif;
}

#header {
  margin-top: 180px;
}

.title a {
  text-decoration: none;
}

a {
  color: #4183c4;
}

a:hover {
  color: #4173c4;
}

.npm:hover {
  border-color: #cb3837;
  color: #cb3837;
}

.twitter:hover {
  border-color: #55acee;
  color: #55acee;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
