body {
  font-family: 'Open Sans', sans-serif;
}

#header {
  margin-top: 180px;
}

.title a {
  text-decoration: none;
}

a {
  color: #38E0F2;
}

.twitter:hover {
  color: #38E0F2;
  border-color: #38E0F2;
}

.npm:hover {
  color: #cb3837;
  border-color: #cb3837;
}
